<html lang="en">
<head>
  <%- include("../partials/header") %>

</head>

<body>
    <%- include("../partials/navbar") %>
    <div class="container">
        <div class="maham mt-4 p-5 text-white rounded text-center";>
            <h1 class="mb-4">COOKING BLOG</h1>
          </div>
        
          
      
      </div>
      <div class="py-5 text-center mt-4" style="background-color: black;color: white;">
        ©2022 Copyright
      </div>

      
</body>
