<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg py-2 sticky-top navbar-dark bg-black">
  <div class="container">
    <a class="navbar-brand pt-4" style="font-size:22px;" href="/blogs/home">COOKING BLOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <li><a href="/blogs/home" class="nav-link px-4 link-secondary" style="font-size:18px;">Home</a></li>
              <li><a href="/" class="nav-link px-4 link-secondary" style="font-size:18px;">Recepies</a></li>
              
            </li>
              
          </ul>
          <div class="col-md-3 text-end">
            <form method="POST" action="/blogs/search">
              <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
          </div>
  </div>
</nav><!-- //NAVBAR -->